<app-header>
    <!-- AQUI SE EJECUTA EL CODIGO HTML DEL ARCHIVO: src\app\componentes\header\header.component.html -->
</app-header>

<div class="container">
    <h1><small>InnovaTube</small></h1>
    <hr>
    <h4>Acerca de la Aplicación:</h4>
    <p>Se trata de una aplicación que permite listar videos de la plataforma de Youtube y seleccionar tus videos
        favoritos.</p>
</div>

<app-footer>
    <!-- AQUI SE EJECUTA EL CODIGO HTML DEL ARCHIVO: src\app\componentes\footer\footer.component.html -->
</app-footer>